@mixin CenterByFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin BreakPointsScreen($point) {
  @if $point==mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  } @else if $point == small {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == medium {
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == large {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}
